@namespace ClientAdminSample.Components

@if (ShowTimeStamp)
{
    <div>Results Timestamp: @DateTime.Now</div>
}

<div>
    <table>
        <tr>
            <th>Property</th>
            <th style="width: 500px;">Value</th>
        </tr>
        @foreach (var row in DataTable)
        {
            <tr>
                <td>@row.Key</td>
                <td>@row.Value</td>
            </tr>
        }
    </table>
</div>

@code {

    [Parameter]
    public required List<KeyValuePair<string, string>> DataTable { get; set; }

    [Parameter]
    public bool ShowTimeStamp { get; set; }



}